@import "./common/header.css";
@import "./common/home_main.css";
@import "./common/quiz_card.css";
@import "./common/footer.css";

:root {
  --main-bg: rgb(246 249 252);

  --bg-white: #fff;
  --bg-gray: #d1d1d1;

  --txt-white: #fff;
  --txt-black: #000;
  --txt-gray2: #ccc;
  --txt-gray: #334155;
  --main-color: #562970;

  --blue-color: #2e86de;
  --orange-color: #ff793f;
  --pink-color: #fe7e73;
  --white-color: #f1f1f1;
  --black-color: #000;
  --red-color: red;
  --green-color: #78e08f;
  --purple-color: #a972cbcc;

  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow-light: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
